.App {
  text-align: center;
  background-color: rgb(32, 32, 32);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.current-weather,
.forecast-items,
.forecast-comp {
  background-color: rgb(32, 32, 32);
  color: beige;
}

.App-link {
  color: #61dafb;
}

